[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "valdr"]
	path = valdr
	url = https://github.com/cran/valdr
[submodule "valdrViz"]
	path = valdrViz
	url = https://github.com/cran/valdrViz
